@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 20%;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: hsl(207, 44%, 49%);
}

a:visited {
    color: blue;
}

a:hover{
    color: hsl(180, 44%, 60%);
    background-color: red;
}

a:active{
    color: white;
}

ol {
    list-style-type:upper-roman;
}
 ul {
    list-style-type: upper-latin;
    text-align: center;
    list-style-position: inside;
    text-shadow: 4cap;
    color: blue;
 }