.u-section-1 .u-sheet-1 {
  min-height: 242px;
}

.u-section-1 .u-image-1 {
  height: 222px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  margin: -184px 61px 60px 201px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 760px;
    margin-left: 62px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 597px;
}

.u-section-2 .u-image-1 {
  height: 597px;
  margin-top: 0;
  margin-bottom: 0;
}